
@font-face {
  font-family: 'MetalMania';
  src: url('MetalMania-Regular.eot?#iefix') format('embedded-opentype'),  url('MetalMania-Regular.woff') format('woff'), url('MetalMania-Regular.ttf')  format('truetype'), url('MetalMania-Regular.svg#MetalMania-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}